:root {
    --primary-color: #007bff;
    --text-accent-color: #FF5805;
    --accent-color: #FF5805;
    --light-orange-color: #FFB692;
    --light-color: #ffffff;
    --text-dark: #1a1a1a;
    --text-light: #ffffff;
    --text-bl: #026598;
    --border-light: #6c757d;
    --gap: 1rem;
}

/* global reset */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-dark);
    scroll-behavior: smooth;
}

/* navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.navbar-brand img {
    transition: transform 0.3s ease;
}

.navbar-brand:hover img {
    transform: scale(1.1);
}

.nav-link {
    color: var(--text-dark);
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--accent-color);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--text-dark);
    transition: color 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: var(--text-accent-color);
}

/* Dropdown Styles */
.dropdown-menu {
    background-color: #111;
    border-radius: 8px;
    transition: all 0.9s ease;
}

.dropdown-item {
    color: #ccc;
    transition: all 0.2s ease-in-out;
}

.dropdown-item:hover {
    color: #fff;
    background-color: var(--accent-color);
}

/* hover-orange effect */
.hover-orange:hover {
    background-color: var(--text-accent-color) !important;
    border-color: var(--text-accent-color) !important;
    color: #fff !important;
}

.secondary-btn {
    background-color: var(--text-accent-color);
    border-color: var(--text-accent-color);
    color: var(--text-light);

    &:hover {
        background-color: var(--light-color);
        border-color: var(--border-light);
        color: var(--text-dark);
    }
}

/* hero  */
.hero {
    background: #fff;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero-gradient {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 180px;
    background: linear-gradient(to top, #02659880 0%, rgba(228, 237, 250, 0) 100%);
    pointer-events: none;
    z-index: 2;
}

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}

/* .carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    transition: all 0.3s ease;
  }
  
  .carousel-indicators [data-bs-target].active {
    width: 25px;
    height: 8px;
    border-radius: 10px;
    background-color: #fff;
    opacity: 1;
  } */

.hero h1 {
    color: var(--text-dark);
}

.counts {
    background-color: #ffebe2;
    color: var(--text-accent-color);
    border-color: var(--light-orange-color) !important;
}

.star-budge {
    font-size: small;
    background-color: var(--text-accent-color);
    color: #fff;
}

/* services */
.services {
    background: url("/assets/images/pattern-dots.png") center center / contain repeat,
        radial-gradient(circle at 0% 90%, #02669858 0%, rgba(228, 237, 250, 0) 20%),
        radial-gradient(circle at 90% 90%, #02669858 0%, rgba(228, 237, 250, 0) 40%);
}

.highlight-text {
    color: var(--text-accent-color);
}

.services button.active {
    background-color: var(--text-accent-color);
    color: white;
    border: none;
}


.service-content h3 {
    color: var(--text-dark);
}

.service-content p {
    color: var(--text-light);
}

/* why choose  */
.why-choose {
    background: url("/assets/images/pattern-angle.png") center center / contain repeat,
        radial-gradient(circle at 80% 90%, #02669858 0%, rgba(228, 237, 250, 0) 60%);
}

.text-gray {
    color: #484848 !important;
}

.text-orange {
    color: var(--text-accent-color);
}

.bg-orange {
    background-color: #ff7a00;
}

.why-card {
    text-align: left;
    transition: all 0.3s ease;
    background-color: #fff;
}

.why-card:hover {
    transform: translateY(-6px);
}

.icon-box {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.icon-box i {
    font-size: 1.5rem;
    color: #fff;
}

/* results  */
.results-section {
    background:
        url("/assets/images/result-bg.png") center center / contain repeat,
        radial-gradient(circle at 100% 90%, #02669858 0%, rgba(0, 0, 0, 0) 40%);
}

.btn-play {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    border: none;
    transition: background 0.3s ease;
}

.btn-play:hover {
    background: rgba(0, 0, 0, 0.6);
}

.play-icon {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
}

.btn-play:hover .play-icon {
    transform: scale(1.1);
}

/* project sec  */

.project-section .container {
    position: relative;
    z-index: 2;
}

.text-orange {
    color: #ff7a00 !important;
}

.text-blue {
    color: var(--text-bl) !important;
}

.project-card img {
    height: 500px;
}

.play-btn {
    position: absolute;
    inset: 0;
    border: none;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play-btn:hover {
    background: rgba(0, 0, 0, 0.6);
}

.inner-circle {
    background: #fff;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* innovative  */
.innovative-section {
    background: url("/assets/images/pattern-angle.png") center center / contain repeat,
        radial-gradient(circle at 80% 90%, #02669858 0%, rgba(0, 0, 0, 0) 60%);
}

/* review  */
.reviews-section {
    background: url("/assets/images/pattern-dots.png") center center / contain repeat,
        radial-gradient(circle at 0% 90%, #02669858 0%, rgba(228, 237, 250, 0) 20%),
        radial-gradient(circle at 90% 90%, #02669858 0%, rgba(228, 237, 250, 0) 40%);
}

.rating-badge {
    border: 2px solid var(--accent-color);
    background-color: #ff580513;
}

.g-icon {
    background-color: #ffb69257;
}

.reviews-viewport {
    overflow: hidden;
    position: relative;
}

.reviews-carousel .transition-transform {
    transition: transform 0.4s ease-in-out;
}

.review-item {
    width: 33.3333%;
}

.reviews-track {
    display: flex;
    gap: var(--gap);
    transition: transform 450ms cubic-bezier(.22, .9, .14, 1);
    will-change: transform;
}

.review-card {
    height: 400px;
    position: relative;
    overflow: hidden;
}

.controls {
    display: flex;
    gap: .75rem;
    align-items: center;
}

.control-btn {
    width: 44px;
    height: 44px;
    background: var(--accent-color);
    color: #fff;
}

.control-btn:disabled {
    opacity: .35;
    cursor: not-allowed;
}

.card-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.review-card:hover .card-bg-img {
    transform: scale(1.08);
    filter: brightness(0.9);
}

.overlay-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.5rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));
    backdrop-filter: blur(2px);
}

.review-text {
    font-style: italic;
    color: #ddd;
    line-height: 1.4;
    font-size: 0.95rem;
}

.thick-icon {
    -webkit-text-stroke: 1px;
    color: transparent;
    -webkit-text-stroke-color: currentColor;
}

/* faq-section  */
.faq-section {
    background: url("/assets/images/pattern-angle.png") center center / contain repeat,
        radial-gradient(circle at 70% 80%, #02669858 0%, rgba(228, 237, 250, 0) 50%);
}

/*--------------- accordion customize -------------------- */
.accordion-item {
    margin-bottom: .7rem;
}

.accordion-button {
    background-color: #fff !important;
    color: #000;
    font-weight: 600;
    padding: 20px;
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.accordion-button::after {
    content: "+";
    font-size: 29px;
    font-weight: 100;
    color: #fff;
    background: var(--accent-color);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background 0.3s ease;
}

.accordion-button:not(.collapsed)::after {
    content: "−";
    font-size: 25px;
    width: 32px;
    height: 32px;
    background: var(--accent-color);
    color: #fff;
    transform: rotate(180deg);
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    background-color: #fff;
    color: #555;
    font-size: 0.95rem;
    line-height: 1.6;
    padding: 0 20px 20px 20px;
}

.accordion-button:hover {
    background: #fafafa;
}

/* insight  */
.insight-section {
    background: url("/assets/images/pattern-angle.png") center center / contain repeat,
        radial-gradient(circle at 80% 90%, #02669858 0%, rgba(228, 237, 250, 0) 60%);
}

.insight-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
    height: 100%;
}

.insight-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.insight-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.insight-card-content {
    flex-grow: 1;
}

.insight-card h4 {
    color: #111;
    font-weight: 600;
    line-height: 1.4;
}

.row.equal-height>[class*="col-"] {
    display: flex;
}

/* journey  */
.journey-section {
    background: url("/assets/images/insight-bg2.png") bottom right / 700px no-repeat,
        radial-gradient(circle at 90% 90%, #02669858 0%, rgba(228, 237, 250, 0) 40%);
    background-blend-mode: overlay;
}

/* footer */
footer {
    font-size: 0.9rem;
}

.footer-input {
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    max-width: 300px;
}

.footer-input input {
    border: none;
    outline: none;
}

.footer-links li,
.footer-services li {
    margin-bottom: 6px;
    transition: color 0.3s ease;
}

.footer-links li:hover,
.footer-services li:hover {
    color: var(--text-accent-color);
    cursor: pointer;
}

.footer-social a {
    background: #fff;
    color: var(--text-accent-color);
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.footer-social a:hover {
    background-color: var(--text-accent-color);
    color: #fff;
    transform: scale(1.1);
}

.footer-social i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.footer-bottom {
    border-top: 1px solid #b4b4b4;
    margin-top: 2rem;
    padding-top: 1.5rem;
    font-size: 0.9rem;
}

.footer-bottom a {
    text-decoration: none;
}

/* responsive */

@media (max-width: 1024px) {
    .review-item {
        width: 50%;
    }
}

@media (max-width: 992px) {

    .dropdown-menu {
        position: static;
        background-color: transparent;
        border: none;
    }

    .dropdown-item {
        color: #ddd;
        padding-left: 1.5rem;
    }

    .dropdown-item:hover {
        background-color: transparent;
        color: #ff7a00;
    }
}

@media (max-width: 768px) {
    .footer-bottom>* {
        margin: 8px 0;
    }

    .review-card {
        text-align: center;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero-img {
        width: 80%;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .insight-card img {
        height: 200px;
    }
}

@media (max-width: 640px) {
    .secondary-btn {
        width: 100%;
    }

    .review-item {
        width: 100%;
    }

    .project-card img {
        height: 400px;
    }

    .review-card {
        height: 350px;
    }

    .insight-card img {
        height: 180px;
    }

    .insight-card h4 {
        font-size: 1rem;
    }
}